In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("ecommerce.csv")
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [3]:
data = {
    "Order_ID": range(1,501),
    "Order_Date": pd.date_range(start="2023-01-01", periods=500, freq="D"),
    "Region": np.random.choice(["North","South","East","West"], 500),
    "Category": np.random.choice(["Electronics","Clothing","Home","Sports"], 500),
    "Sales": np.random.randint(100, 5000, 500),
    "Profit": np.random.randint(-500, 1500, 500),
    "Returned": np.random.choice(["Yes","No"], 500, p=[0.1,0.9])
}

df = pd.DataFrame(data)
df.head()

   Order_ID Order_Date Region     Category  Sales  Profit Returned
0         1 2023-01-01   West  Electronics   1570     693       No
1         2 2023-01-02  South         Home   2239    -375       No
2         3 2023-01-03  South     Clothing    495     356       No
3         4 2023-01-04   West     Clothing   4087    -147       No
4         5 2023-01-05   West         Home   2134     508       No

In [4]:
df.isnull().sum()
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [6]:
df["Profit_Margin"] = (df["Profit"] / df["Sales"]) * 100
df

,Order_ID,Order_Date,Region,Category,Sales,Profit,Returned,Profit_Margin
0,1,2023-01-01,West,Electronics,1570,693,No,44.140127
1,2,2023-01-02,South,Home,2239,-375,No,-16.748548
2,3,2023-01-03,South,Clothing,495,356,No,71.919192
3,4,2023-01-04,West,Clothing,4087,-147,No,-3.596770
4,5,2023-01-05,West,Home,2134,508,No,23.805061
...,...,...,...,...,...,...,...,...
495,496,2024-05-10,West,Clothing,3952,703,No,17.788462
496,497,2024-05-11,North,Sports,2112,288,No,13.636364
497,498,2024-05-12,North,Home,4287,1345,No,31.373921
498,499,2024-05-13,West,Electronics,528,-371,No,-70.265152
499,500,2024-05-14,West,Clothing,152,770,No,506.578947